@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* HTML: <div class="loader"></div> */
.loaderFactory {
  width: 180px; /* Aumentado el ancho */
  height: 28px; /* Aumentada la altura */
  box-shadow: 0 6px 0 #fff; /* Ajustada la sombra para mantener proporción */
  position: relative;
  clip-path: inset(-80px 0 -10px); /* Ajustado el recorte */
}
.loaderFactory:before {
  content: "";
  position: absolute;
  inset: auto calc(50% - 34px) 0; /* Ajustado el desplazamiento horizontal */
  height: 100px; /* Duplicado el alto */
  --g: no-repeat linear-gradient(#ccc 0 0);
  background: var(--g), var(--g), var(--g), var(--g);
  background-size: 32px 28px; /* Duplicado el tamaño del gradiente */
  animation: l7-1 2s infinite linear, l7-2 2s infinite linear;
}
@keyframes l7-1 {
  0%,
  100% {
    background-position: 0 -100px, 100% -100px; /* Ajustado el desplazamiento */
  }
  17.5% {
    background-position: 0 100%, 100% -100px, 0 -100px, 100% -100px;
  }
  35% {
    background-position: 0 100%, 100% 100%, 0 -100px, 100% -100px;
  }
  52.5% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 32px), 100% -100px;
  }
  70%,
  98% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 32px),
      100% calc(100% - 32px);
  }
}
@keyframes l7-2 {
  0%,
  70% {
    transform: translate(0);
  }
  100% {
    transform: translate(400%); /* Aumentado el desplazamiento */
  }
}
